---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/exchange-rates?currency=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Cache-Control:
      - public, max-age=60
      Grpc-Metadata-Content-Type:
      - application/grpc
      Grpc-Metadata-Vary:
      - Accept-Language
      Trace-Id:
      - '7635444322571632469'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency":"GBP","rates":{"00":"16.72612418210796631165464888910796","1INCH":"4.9504950495049505","AAVE":"0.0195388823759281","ABT":"16.42704778944775766928194505080455","ACH":"83.36921373329114378608383552024014","ACS":"661.70949586688667763409339226141103","ADA":"4.8614487117160914","AED":"4.555474994398815","AERGO":"12.04118551556607475366919774338843","AFN":"97.7059185","AGLD":"2.10710517856490939397146687625238","AIOZ":"103.78595046889587445207881958620976","ALCX":"0.10266904868404850481179509568168","ALEPH":"17.00126261964778202064823702655589","ALGO":"13.0378096479791395","ALICE":"1.60445292122031790498824959246843","ALL":"123.6648249944960783","AMD":"478.1917005","AMP":"731.70625846802696166764908868685609","ANG":"2.2281297662846846","ANKR":"63.7755102040816327","ANT":"0.28028070239622733709650920727926","AOA":"1030.0251545","APE":"1.11532563678354823515449438092931","API3":"1.14730999824542622455274269052721","APT":"0.24199846011771819141581516147954","ARB":"1.45542698832753119515337899776118","ARPA":"28.64300480608096301326794935410933","ARS":"434.0121713026098583","ASM":"94.74729626457644769195845447516936","AST":"14.48035152484886976501922868388406","ATA":"16.1070403649779960877890635311259","ATOM":"0.1706484641638225","AUCTION":"0.20602028373809061158096162355784","AUD":"1.907104","AUDIO":"8.18641655513733140266313368993399","AURORA":"23.62365920196772759542395984565132","AVAX":"0.13681655908475512597084378309569","AVT":"1.56992671911810850299163229550162","AWG":"2.232438","AXL":"3.70000628909100751476998631210773","AXS":"0.27499825013377060441385678695553","AZN":"2.10831","BADGER":"0.60060150513477279433582783826666","BAL":"0.3845711963111025907070584536165","BAM":"2.2649714696239339","BAND":"1.1587485515643105","BAT":"7.02249084481799271646521360593108","BBD":"2.480488","BCH":"0.0057830210501966","BDT":"136.1757765","BGN":"2.2642735","BHD":"0.467475","BICO":"6.00892494236097720464647077319175","BIF":"3527.100086803407852","BIT":"3.08786781551924736071424008933768","BLUR":"7.16488797286716170326176095387967","BLZ":"6.06178938466913835661737828312167","BMD":"1.2402464999659341","BND":"1.6896188159356447","BNT":"3.04055432239104116412604374159746","BOB":"8.5761293333333333","BOBA":"10.91762419105022622715390658547899","BOND":"0.56271633125886515095588524598204","BRL":"6.0104716095108672","BSD":"1.2402464999659341","BSV":"0.03934259094667478787535976527196","BTC":"0.0000456510629051","BTN":"103.081738","BTRST":"3.86971016568894135655205028454829","BUSD":"1.24031672735167905879192321834304","BWP":"16.9188871839238858","BYN":"3.1320719998454699","BYR":"31320.5","BZD":"2.50077","C98":"8.8842557887056281986197857973549","CAD":"1.661838496291908","CBETH":"0.00072644542215132877470120608795","CDF":"3075.8040078124489818","CELR":"105.95831765085909440102802040709134","CGLD":"2.7322404371584699","CHF":"1.109195386061339","CHZ":"21.0970464135021097","CLF":"0.0396880999795909","CLP":"1095.0907954226050599","CLV":"39.6877474593057824","CNH":"9.043823","CNY":"9.038776","COMP":"0.03132715605211688876221252549719","COP":"4859.6679179375233419","COTI":"29.99376319475950906127541142523959","COVAL":"165.47593170157514337988902134054301","CRC":"658.9210582809747719","CRO":"24.15271875566320739488114384064796","CRPT":"18.10572420588767450234548609173855","CRV":"2.8244598220590312","CTSI":"9.6705037668873738694717964280444","CTX":"1.38574537218246441453680081555243","CUC":"1.2402464999659341","CUP":"31.4712105","CVC":"16.117506278145623115786327380074","CVE":"128.0101068870135296","CVX":"0.46208722358543425604821070631228","CZK":"28.2069942804967572","DAI":"1.2403041233094711658067771632125","DAR":"14.17419552118063660686406023152302","DASH":"0.04718440586278509358701404863582","DDX":"19.89645801431366680609430103856514","DESO":"0.14206667904963410193836619299272","DEXT":"2.18564121614821692427696970519633","DIA":"5.00248909187579183225955601289959","DIMO":"13.27811260749751834183095446331423","DJF":"220.8925069368767553","DKK":"8.622223482674741","DNT":"53.4587115561769698703531761414933","DOGE":"19.9004975124378109","DOP":"70.3202789385347182","DOT":"0.3021148036253776","DREP":"5.21658089633356763012320884979317","DYP":"10.05425080542584977280540709185481","DZD":"169.8468397991975624","EEK":"18.1006000000000098","EGLD":"0.0483336752963097150237684478656","EGP":"38.3257224574174578","ELA":"0.79964030180741821382731812443958","ENJ":"5.40410504620176779436043123108266","ENS":"0.1648162269904725388744536229785","EOS":"2.15825651806022048686703614748352","ERN":"0.81327351351036440970809322102696","ETB":"68.4907924298143507","ETC":"0.079968012794882","ETH":"0.000761344992063","ETH2":"0.000761344992063","EUR":"1.1567751213539836","EUROC":"1.15699622939811151508523086692974","FARM":"0.05520775019378168274211016299018","FET":"5.42419465603894900981876957716276","FIDA":"8.20808807480678825772548617153081","FIL":"0.3663003663003663","FIS":"4.56055196949183926870041078115098","FJD":"2.7976784394740135","FKP":"1","FLOW":"2.81234038118663421983272700872079","FLR":"106.96352808135452348519733320519585","FORT":"10.9368792601702442571407221507645","FORTH":"0.43902375508081623625935737838806","FOX":"55.99287169766617159479733642838367","FX":"10.28819666614106761539280099764629","GAL":"0.95037709433203506952707412220322","GALA":"88.89656484907452150754118401582022","GBP":"1.0","GEL":"3.3036920757838458","GFI":"2.74086653724487451282503643407835","GGP":"1","GHS":"14.282958","GHST":"1.53971708020273829349609459964962","GIP":"1","GLM":"6.9617856194403912144428585538663","GMD":"76.1370085","GMT":"8.05613581099906272707849311886466","GNF":"10734.2958611476668709","GNO":"0.01214316451856180361308767236021","GNT":"6.97302708660684736546477864124837","GODS":"7.4693131868066228947280432657391","GRT":"13.7931034482758621","GST":"127.28917823198087951345123096885381","GTC":"1.37043326862243719440041281187389","GTQ":"9.7579493333333333","GUSD":"1.24086253937299215732109466910625","GYD":"259.5563128430075052","GYEN":"181.37497924880165252685987653416542","HBAR":"24.64710071747427863597829642067101","HFT":"3.86971016568894135655205028454829","HIGH":"0.93321452829443621185025389535598","HKD":"9.7027564971428401","HNL":"30.7578895","HNT":"0.86730217349881517395787265167601","HOPR":"27.93338081313751573783238495262825","HRK":"8.7160639978779351","HTG":"167.3869087182209154","HUF":"443.7855571286201732","ICP":"0.4123711340206186","IDEX":"26.52924295408140529917771449650197","IDR":"19006.7531864999078684","ILS":"4.7212854901636428","ILV":"0.030510260961950909219136332022","IMP":"1","IMX":"2.29271117127887176918751682312438","INDEX":"1.24647448050583487000919861471199","INJ":"0.1668898752746155855728616171721","INR":"102.881229551453374","INV":"0.04603719777666321224059479907569","IOTX":"81.30069538533632903284182847287382","IQD":"1593.906275","IRR":"52403.399842816874164","ISK":"168.3131813046946104","JASMY":"353.84938890251232528095903753698789","JEP":"1","JMD":"192.0941248161431168","JOD":"0.8792309593218526","JPY":"183.121097765","JUP":"1633.38641243192948198905827443511657","KAVA":"1.97648144717658275475031655014817","KEEP":"14.21643865317865319256582120504867","KES":"182.563638","KGS":"110.0224319983035957","KHR":"5109.7916579771529775","KMF":"570.438775515909325","KNC":"1.9872490115419094346606936346448","KRL":"5.579136788588869540079882554641","KRW":"1643.740284","KSM":"0.06406209236070797492435849885595","KWD":"0.3834496509051538","KYD":"1.0338149214317842","KZT":"587.8463730505743774","LAK":"24711.8728255","LBP":"18625.3280314443467143","LCX":"31.27975051962939972464617503161548","LDO":"0.79350102885688145990291817186064","LINK":"0.18001800180018","LIT":"1.86980568084321682626394129096578","LKR":"402.683349","LOKA":"6.94230119285365630990402462614258","LOOM":"18.94339221862036769326629799871875","LPT":"0.209643605870021","LQTY":"1.4511696110727265344648447300323","LRC":"7.00306102825130260372595429689628","LRD":"231.2731085","LSETH":"0.00074042757799293064534157279207","LSL":"23.3746440481851056","LTC":"0.0192418703097941","LTL":"3.9943299999999994","LVL":"0.81303","LYD":"6.0322355777326994","MAD":"12.7222795","MAGIC":"2.64134194037547795165578350945459","MANA":"4.19993941111854287130759235578862","MASK":"0.4781257470714798","MATH":"17.74309167529764950070413975176344","MATIC":"2.291213197388017","MCO2":"0.60205927577830374388467042768595","MDL":"22.3538656907167109","MDT":"26.94128615408505921115875693458117","MEDIA":"0.19939583731564399244805886855651","METIS":"0.08199947822170610868381023027116","MGA":"5594.6448263333333333","MINA":"3.25522863019240342737306537555259","MIR":"95.48274743683158623359208474780539","MKD":"71.205654","MKR":"0.00094416945150153081937208440134","MLN":"0.0905286210294383632099116196839","MMK":"2605.314581","MNDE":"25.82761574559153893833662332813239","MNT":"4296.0107255","MONA":"0.00412863551299369258825845899737","MOP":"9.997608","MPL":"0.25388784198634715634615963914496","MRO":"471.5339999999926907","MRU":"47.1539139943971016","MSOL":"0.05390013507619755528592786214366","MTL":"0.95147073885945963113323791891158","MULTI":"0.40935798394957785721391152676604","MUR":"55.6340445","MUSD":"1.24442200953205135527001629436409","MUSE":"0.20039458848009469285653932194115","MVR":"19.0996495","MWK":"1367.5679711056479806","MXC":"131.31202838573908944503786069857483","MXN":"21.1203835","MYR":"5.82465","MZN":"79.1926815","NAD":"23.3746440481851056","NCT":"143.54654028973445596799013633653199","NEAR":"1.11884718818521042293776047964228","NEST":"224.92876122220162010389140129209316","NGN":"968.2125958963947104","NIO":"45.363331","NKN":"14.3472022955523673","NMR":"0.0976085895558809","NOK":"13.2556608647430001","NPR":"165.1972587277457406","NU":"23.16598681604205366916665890573057","NZD":"2.0749374864785082","OCEAN":"3.84332850357392534553504091983266","OGN":"12.94683551441417303508649701887484","OMG":"2.75131494847143377231491752556463","OMR":"0.477484","OOKI":"737.53048745109599248754520855605175","OP":"0.89710098235320482341687250876362","ORCA":"1.52654576663586158609429004440901","ORN":"2.40590127663104885161723204458722","OSMO":"3.73117361041909060220444371139322","OXT":"18.1987103169964152486257172374593","PAB":"1.2402643333333333","PAX":"1.2414835916950006994592171090057","PEN":"4.5889034997554431","PERP":"1.95729836361288673692205768308208","PGK":"4.5231795","PHP":"70.2898925","PKR":"365.5183003944936659","PLA":"8.06399290054164958728006169456039","PLN":"5.3478685","PLU":"0.1906598167722222854192241725151","PNG":"66.07576494956343630920335804413056","POLS":"4.75735369429729840371461121521904","POLY":"9.78108918062543925997193753948823","POND":"152.27036318027080418720693163102877","POWR":"8.34056562275256017228470176490688","PRIME":"0.32702494610502461986640748615171","PRO":"4.82584477861208437547460563699875","PRQ":"19.57761812317767477268800387399532","PUNDIX":"3.59230154410805411883556756382697","PYG":"9021.8112515222424097","PYR":"0.3712743924871443503908050340388","PYUSD":"1.24034753764400546873368073286094","QAR":"4.5157309997871884","QI":"239.19809220893070392991242241923261","QNT":"0.01367863800709504329156355412152","QSP":"122.61414810709893224887601835124008","QUICK":"0.02830633591471654399307469307164","RAD":"0.9259259259259259","RAI":"0.45513471857002046084803481271514","RARE":"19.56217836125087851994387507897646","RARI":"1.31940649798224016443686463462282","RBN":"7.25478697963385507410971713005426","REN":"25.18258087519402433337444288666569","REP":"1.1357602417310895503955554755262","REPV2":"1.1357602417310895503955554755262","REQ":"19.6463654223968566","RGT":"1.35845386105601198792175602367549","RLC":"1.20441088429551413040473206048357","RLY":"198.56332864577746031422474717291862","RNDR":"0.77527245388548564374178064656952","RON":"5.7584535","ROSE":"28.76924398291128967862162926534888","RPL":"0.05634902808283990482681275576616","RSD":"135.6211726536464249","RUB":"119.5907114957662111","RWF":"1489.519079","SAND":"4.14796691673346391858955122465242","SAR":"4.652403","SBD":"10.441453499725871","SCR":"16.512025","SDG":"745.3870965","SEI":"9.98584628102500558294615124710478","SEK":"13.69891","SGD":"1.6876639992320745","SHIB":"169491.5254237288135593","SHP":"1","SHPING":"238.09600846675095021757845839916031","SKK":"34.8509","SKL":"54.6448087431693989","SLL":"25228.3842652639919955","SNT":"54.30131821818326180485842378006108","SNX":"0.5875440658049354","SOL":"0.0611246943765281","SOS":"706.335107832042103","SPA":"352.24143939315697247453796444796956","SPELL":"2129.90229796205684351844178214920109","SRD":"47.5231935","STD":"28160.137234","STG":"2.75533631086176283670716587595732","STORJ":"3.21264631033105997795538513491508","STX":"2.56832078712633190247185152672653","SUI":"2.79869594517275343585352831126883","SUKU":"35.94904661169002029704488178610612","SUPER":"15.14892033838165023313075993362678","SUSHI":"2.0220402386007482","SVC":"10.8550236572934435","SWFTC":"1130.5762152263497720740868012516932","SYLO":"1022.45845680404427040733124398742037","SYN":"3.90627435623088406323799412653088","SZL":"23.3746440481851056","T":"66.26994967156322198215346477978574","THB":"44.5762105","TIME":"0.07993826027091881212346756329492","TJS":"13.630737","TMM":"21766.2","TMT":"4.353264499862115","TND":"3.9098587586462296","TONE":"118.56999121446517207654153968273312","TOP":"2.9641203677177816","TRAC":"5.11440044578682766978118294773792","TRB":"0.03418999608830616145995649222793","TRIBE":"4.80050032741011433537447711055981","TRU":"32.76729479797373049864406170165999","TRY":"33.5311665","TTD":"8.4120773817169431","TVK":"66.02300282689942508570805852997479","TWD":"39.6528949745283331","TZS":"3107.0471589217242411","UAH":"45.9589513333333333","UGX":"4640.67744","UMA":"0.8771929824561404","UNFI":"0.1587002057713762423708993102399","UNI":"0.2836879432624113","UPI":"1163.41902781152685380345594828748324","USD":"1.2402421081033057","USDC":"1.2399256044637322","USDT":"1.24000248000496","UST":"105.77757851627340722143589265267582","UYU":"47.2696376666666667","UZS":"15106.1421826615379011","VEF":"4188749.9992612092188803","VES":"41.888444","VET":"71.09441720282635137924121974859535","VGX":"9.78638804351218540047553527016996","VND":"30125.5255045","VOXEL":"9.53665596388547248344107037636367","VTHO":"1075.66531492047328703029093155827916","VUV":"143.782672","WAMPL":"0.43902375508081623625935737838806","WAXL":"3.69835129895126194981839535706823","WBTC":"0.00004573018257721555813527771","WCFG":"4.28408327496824075371899462262593","WLUNA":"21712.35703363891077844926970978023956","WST":"3.4117214931580874","XAF":"763.7874843333333333","XAG":"0.052642505","XAU":"0.0006376025","XCD":"3.3502372282148308","XCN":"1600.31239755265251610102679110734471","XLM":"10.5460970740574624460778176608053","XMON":"0.0012278289879794686896175277168","XOF":"771.0773312453083799","XPD":"0.0009663409275805","XPF":"138.042331767272272","XPT":"0.0013204197624998","XRP":"2.40496821427827359199674184557506","XTZ":"1.8399264029438822","XYO":"426.20003714890230246644488709923461","YER":"310.5024619886279665","YFI":"0.0002308185121446204656150452146","YFII":"0.00288813833032048932148694743512","ZAR":"23.2733009479145067","ZEC":"0.04775672345411266756157066257363","ZEN":"0.16340475732586367450327565451987","ZMK":"6514.4","ZMW":"25.6080051921678287","ZRX":"6.82625673880522927026600260872932","ZWD":"464.84"}}}'
  recorded_at: Sun, 17 Sep 2023 08:00:30 GMT
[...]
