---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/exchange-rates?currency=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Cache-Control:
      - public, max-age=60
      Grpc-Metadata-Content-Type:
      - application/grpc
      Grpc-Metadata-Vary:
      - Accept-Language
      Trace-Id:
      - '310827945036968950'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency":"EUR","rates":{"00":"14.3611128950773373593762608422964","1INCH":"4.2462845010615711","AAVE":"0.0176413513275117","ABT":"13.83025463630988716437366305266955","ACH":"70.81604731592178650380032400153254","ACS":"602.31741320049272743380905946327126","ADA":"4.3001505052676844","AED":"3.917798","AERGO":"10.88629537988251453016764706602596","AFN":"84.2476449347275125","AGLD":"1.99553220260034118977779888320272","AIOZ":"83.63236333015625877753161193311994","ALCX":"0.08262786768380409502394226179667","ALEPH":"14.85115086990936351806594810831916","ALGO":"11.1919418019026301","ALICE":"1.40304293744670036667598335632915","ALL":"106.7049417549618924","AMD":"410.7639035","AMP":"629.09299850117539824361399504299651","ANG":"1.9142497244380364","ANKR":"57.2901747350329419","ANT":"0.2470966147763776","AOA":"883.7176855","APE":"0.9661835748792271","API3":"1.00076267710886183228457090677844","APT":"0.20330078788550849664024109488693","ARB":"1.32700221823096546551352783189545","ARPA":"24.7188233840069213","ARS":"372.9245411373511515","ASM":"96.02094844299795588154091978962623","AST":"12.13097420317966214467005475090332","ATA":"13.96611175454475839837720398325253","ATOM":"0.1515151515151515","AUCTION":"0.2217294900221729","AUD":"1.6586955481729176","AUDIO":"7.00369545129387385152945930488937","AURORA":"19.56536940292646424757500340262916","AVAX":"0.1163467132053519","AVT":"1.36706747751216966733317953007783","AWG":"1.9199641665342858","AXL":"3.12106726901651488834035252790656","AXS":"0.234192037470726","AZN":"1.8165858304593768","BADGER":"0.5025125628140704","BAL":"0.32559164349908164029804662321091","BAM":"1.955815","BAND":"1.0204081632653061","BAT":"6.2703787308753449","BBD":"2.133295","BCH":"0.005080139195814","BDT":"116.9700005","BGN":"1.9569466666666667","BHD":"0.4018225","BICO":"5.3404539385847797","BIF":"3031.6793232527676117","BIT":"2.65416958919599822603828170188436","BLUR":"5.98211855517246735677172602038698","BLZ":"7.01290780966453333352320856915265","BMD":"1.0666445340295975","BND":"1.4543693901244559","BNT":"2.6109660574412533","BOB":"7.3693596666666667","BOBA":"9.35772384782353927039385131882638","BOND":"0.4676401013736981265315515228927","BRL":"5.1908630306542308","BSD":"1.066645","BSV":"0.03440280339785703219436570742469","BTC":"0.0000402323741466","BTN":"88.5317025","BTRST":"3.3898305084745763","BUSD":"1.06597082999996186464542099701199","BWP":"14.57719895620551","BYN":"2.690185","BYR":"26906.6999999960143105","BZD":"2.1483949273760178","C98":"7.64107941568966179683331352988259","CAD":"1.4432673375233583","CBETH":"0.00062689977392339338214859287418","CDF":"2638.899076","CELR":"93.4132836144977923508924900065221","CGLD":"2.4691358024691358","CHF":"0.957404","CHZ":"18.5701021355617456","CLF":"0.0341942849305294","CLP":"943.5424543394258421","CLV":"35.3419332037462449","CNH":"7.766392","CNY":"7.7595586996378615","COMP":"0.02771803047724179285440432285136","COP":"4186.2297345","COTI":"25.60174387657844652973212177676758","COVAL":"143.12921241067010733102381910262856","CRC":"566.0326425","CRO":"20.5973223480947477","CRPT":"15.08221545204373836129120779693889","CRV":"2.457002457002457","CTSI":"8.5032905299800023838412070776755","CTX":"1.1627906976744186","CUC":"1.066645","CUP":"27.0664295","CVC":"14.87186377209891634996613890917585","CVE":"110.2649995","CVX":"0.40925451255401742124855068587244","CZK":"24.5720303333333333","DAI":"1.0663659507570301448427881865375","DAR":"12.4714927773040034963004370472574","DASH":"0.04076118625609679784999967594008","DDX":"15.05793606791312343768683770003287","DESO":"0.12442387776656856670885085653083","DEXT":"1.89802889366232165955600709475477","DIA":"6.783570192992572","DIMO":"11.02758811168615024534332532199943","DJF":"189.579967","DKK":"7.463447","DNT":"44.99209419660305062301313168181062","DOGE":"17.2860847018150389","DOP":"60.5524339867659612","DOT":"0.2594033722438392","DREP":"4.44574789434851909078186569710624","DYP":"8.50905823292895744766669521650811","DZD":"146.430463","EEK":"15.6466","EGLD":"0.04147462592218955778003803416002","EGP":"32.9876966383770585","ELA":"0.68134992489424427706206019504348","ENJ":"4.68708849432743867663159282435388","ENS":"0.1418439716312057","EOS":"1.8891092849721356","ERN":"0.70152146872335023665362330113919","ETB":"59.0419453681463017","ETC":"0.068870523415978","ETH":"0.0006566893662291","ETH2":"0.0006566893662291","EUR":"1.0","EUROC":"1.0004001600640256","FARM":"0.046482677962488719864314190955","FET":"4.66249511350893004797847997398365","FIDA":"7.3072707343807088","FIL":"0.3189792663476874","FIS":"4.09254512554017389259171712087671","FJD":"2.4198354334642033","FKP":"0.8611795197581955","FLOW":"2.40702625837357183288045198344366","FLR":"95.63341995152397311616609017629446","FORT":"9.4615140413442085418436697528725","FORTH":"0.364963503649635","FOX":"50.53614371845935070382541381306498","FX":"8.79070595597273120115767697177513","GAL":"0.86166677370464026288882829972763","GALA":"73.95549165898902806505517297278096","GBP":"0.8611795197581955","GEL":"2.8007676666666667","GFI":"2.73799623176143870135983590018547","GGP":"0.8612692578513797","GHS":"12.256349","GHST":"1.37058178979369191739002436639385","GIP":"0.861269307712819","GLM":"6.10193208846633650250110249523711","GMD":"64.5788675","GMT":"6.8617286516054845491228273329505","GNF":"9231.296583","GNO":"0.0104926212296136898763824604232","GNT":"6.0952358982359824784004016350738","GODS":"6.45799977264023433304235983307208","GRT":"12.5470514429109159","GST":"110.67648891582254402867049070347444","GTC":"1.19141076252457235517391175178777","GTQ":"8.3909863333333333","GUSD":"1.07220978628405462431915833795136","GYD":"222.9730151219187783","GYEN":"156.44258105332926936219225302362632","HBAR":"21.3219882515395380992045599357536","HFT":"3.36801210505209190418522065877793","HIGH":"0.82820398637630470731116607735528","HKD":"8.3495625","HNL":"26.369612902735507","HNT":"0.75171845784948343376078393513883","HOPR":"23.46122403651248184795020624148306","HRK":"7.5394675","HTG":"144.5345855","HUF":"383.7517773333333333","ICP":"0.3590664272890485","IDEX":"23.23121203615451629154836001055024","IDR":"16390.6249268221854585","ILS":"4.0579394521825671","ILV":"0.02610631980559410129373477480296","IMP":"0.8611795197581955","IMX":"2.0252851518698809096556265290418","INDEX":"1.07708346713080030195321956317223","INJ":"0.15066232885333694139158916115455","INR":"88.6686720305184306","INV":"0.03893072772761925461984113608237","IOTX":"71.5051841258491241","IQD":"1395.944846635280802","IRR":"45065.8661035","ISK":"145.115340502595809","JASMY":"305.0966044233168240587424923023632","JEP":"0.8611795197581955","JMD":"164.8608673333333333","JOD":"0.7557506666666667","JPY":"157.681300266774125","JUP":"1436.54980069579982663797804151096895","KAVA":"1.67501198941170643993528894526082","KEEP":"12.5533517449158925","KES":"155.9494955","KGS":"94.6223035","KHR":"4394.045742","KMF":"492.461611","KNC":"1.82916653651169451736008207767768","KRL":"4.7824007651841224","KRW":"1418.0027985","KSM":"0.05604797016869870078877614653983","KWD":"0.329866","KYD":"0.8881435","KZT":"498.890146","LAK":"21252.035329","LBP":"16002.5511353561781359","LCX":"26.6311584553928096","LDO":"0.70198329984166704752569499116662","LINK":"0.1737619461337967","LIT":"1.62152164303450780658481474319221","LKR":"344.4262695001410495","LOKA":"5.88472755220470367039540910875929","LOOM":"24.18037919107968418501097720521764","LPT":"0.1814882032667877","LQTY":"1.3305834608475817","LRC":"6.06203884286237801164245117691581","LRD":"198.8617225","LSETH":"0.00064003783426891593822266116335","LSL":"20.261499","LTC":"0.0167238063383226","LTL":"3.4528","LVL":"0.702804","LYD":"5.1630895","MAD":"10.9445495","MAGIC":"2.21456413802594450421677801465442","MANA":"3.663003663003663","MASK":"0.4149377593360996","MATH":"15.42028391120017784396279451018648","MATIC":"2.0485506504148315","MCO2":"0.68573159643697250316341983741956","MDL":"19.1203985","MDT":"24.3367027835100376799958517149138","MEDIA":"0.17198590846120847676048899843196","METIS":"0.10282667622560199098858298450675","MGA":"4793.8514755814200982","MINA":"2.8409090909090909","MIR":"78.18333499903794494076507050854125","MKD":"61.611597","MKR":"0.00084315484075648973220938666613","MLN":"0.0754716981132075","MMK":"2238.194988","MNDE":"25.44595233169054527478390926333096","MNT":"3693.103534","MONA":"0.00349004232795302446406441019669","MOP":"8.5929792092998724","MPL":"0.22956138481366892579398173257406","MRO":"405.0040000000071953","MRU":"40.675698","MSOL":"0.04920685890445284031461839497107","MTL":"0.86904045025223496532397640966327","MULTI":"0.46673587145964467546318396184981","MUR":"47.914143033982646","MUSD":"1.06990635151384948441861648660851","MUSE":"0.17889650741707786417983825849252","MVR":"16.426244","MWK":"1157.0661138177693019","MXC":"102.72761391709945088636481453780198","MXN":"18.2199945","MYR":"4.9961735","MZN":"68.1214299832465085","NAD":"20.2438401849193465","NCT":"121.4329083181542198","NEAR":"0.96411630421292254229305284565359","NEST":"177.29043718452496657666278184122654","NGN":"833.6304279551621254","NIO":"39.0045217594463762","NKN":"12.5628140703517588","NMR":"0.0849978750531237","NOK":"11.4626345","NPR":"141.5684825348208891","NU":"18.4736619876724128872867499638319","NZD":"1.8078705","OCEAN":"3.39535944104280308294839720940454","OGN":"12.08149368297634597884693535767528","OMG":"2.43254927141435464027772921711496","OMR":"0.410334","OOKI":"599.59910246221336163513133404812752","OP":"0.77634702035638314217546606438647","ORCA":"1.33891591217917169732814532658196","ORN":"2.01191062728206096552724331519701","OSMO":"3.18968780275050040088535339345561","OXT":"16.6611348821795671875","PAB":"1.06633","PAX":"1.0678075630477591779908265380781","PEN":"3.959143889648382","PERP":"1.7650692789691995","PGK":"3.8593617870274151","PHP":"60.4996765","PKR":"316.4536799753320056","PLA":"7.22189388729761119380337818328713","PLN":"4.6417630647898932","PLU":"0.16254765738711772605777406717197","PNG":"57.22096229994592433744337455112297","POLS":"4.14585004844281609725218711699805","POLY":"8.69394726832036114390997944968621","POND":"129.40687287129760923779454063537174","POWR":"7.4738415545590433","PRIME":"0.2896801500840783573184132185375","PRO":"4.06756678412928590023682112096165","PRQ":"16.674161570906838179819686453311","PUNDIX":"3.17213337039860862541377900439218","PYG":"7754.0519275","PYR":"0.32341905746420752754639137203606","PYUSD":"1.06631796404931251990425055344923","QAR":"3.8847845","QI":"202.81742890337466471148380224357832","QNT":"0.01178636711019663745955980792323","QSP":"105.00370580595689810942721011027145","QUICK":"0.02519940050713673956091912375694","RAD":"0.7840062720501764","RAI":"0.38634515668822179991928752718223","RARE":"17.3808090050446993064795281932654","RARI":"1.1764705882352941","RBN":"6.15334198430083850821422980031564","REN":"21.98582747339159377705708298595594","REP":"0.96673261110419923133534074621323","REPV2":"0.96673261110419923133534074621323","REQ":"16.6555629580279813","RGT":"1.33885974843417900964344184393431","RLC":"1.05790230910213040556571159615404","RLY":"171.04417980166844402091398843785665","RNDR":"0.6785871814881417","RON":"4.9720863333333333","ROSE":"26.5549155138710571727823847225285","RPL":"0.04711942697567358741229549834962","RSD":"117.2419946666666667","RUB":"103.254578690560554","RWF":"1283.910123","SAND":"3.55615351829078635315430968319532","SAR":"4.0010345","SBD":"8.9652646323598646","SCR":"14.372949","SDG":"641.0556375","SEI":"8.50668234909846268852010671959114","SEK":"11.9215484391813612","SGD":"1.454216","SHIB":"147819.6600147819660015","SHP":"0.8611795197581955","SHPING":"197.2386587771203156","SKK":"30.126","SKL":"45.5580865603644647","SLL":"21696.7521866287538125","SNT":"48.51285861963113286405291941363205","SNX":"0.4977600796416127","SOL":"0.0563856780377784","SOS":"607.8799597460857722","SPA":"295.9513273548410490810399091031409","SPELL":"2256.98514649061763150584617946510202","SRD":"40.6302005","STD":"24261.4382195","STG":"2.32168519381198570165433411901447","STORJ":"2.8692757947893952","STX":"2.33686748292678564858245164951758","SUI":"2.42619484063593245026026359937051","SUKU":"30.6748466257668712","SUPER":"13.22558303825726878430697017255232","SUSHI":"1.7091095539224064","SVC":"9.3255092553366657","SWFTC":"988.69970557208372736288022845501774","SYLO":"876.54141591409149197814729412963509","SYN":"3.34792035309102758046631062627453","SZL":"20.2581985","T":"61.01932088466336481174849846047264","THB":"38.120916947685521","TIME":"0.0709220241077147918058662896836","TJS":"11.7080491050025039","TMM":"18680.8","TMT":"3.7412770096202261","TND":"3.3595415","TONE":"103.87848343492375060299594118519617","TOP":"2.552351","TRAC":"4.5798030684680559","TRB":"0.03148715879106726173811001599123","TRIBE":"4.12098288714347125613578762333698","TRU":"29.7176820208023774","TRY":"28.791687","TTD":"7.2340193560385054","TVK":"54.2238816404521891607111450950101","TWD":"34.016077","TZS":"2669.812863432020514","UAH":"39.3834151047836989","UGX":"3975.228514","UMA":"0.7821666014861165","UNFI":"0.1419857033900788170609124253772","UNI":"0.2463054187192118","UPI":"942.77549847247637150475695103651966","USD":"1.0663126324594923","USDC":"1.0670650376140426","USDT":"1.0667633865470469","UST":"90.94350809889060125521766758193898","UYU":"40.733371","UZS":"12989.2586825","VEF":"3571360","VES":"35.7536236666666667","VET":"61.40585271865777717986130307917266","VGX":"8.44429427443793835317877658496553","VND":"25881.5076043138991152","VOXEL":"8.14600941527496029823522538204395","VTHO":"878.34648472775313012051443230171338","VUV":"123.659956","WAMPL":"0.41980812301554814624783422847404","WAXL":"3.11059694416421320803990219972768","WBTC":"0.00004018583448059259308109940833","WCFG":"4.7732696897374702","WLUNA":"19198.93212925298392239372719783405031","WST":"2.9366370314655901","XAF":"658.2978395896662805","XAG":"0.046301495","XAU":"0.0005544337312647","XCD":"2.881308","XCN":"1431.29212410670107384339450725603175","XLM":"9.1767113419563831","XMON":"0.00103306749927197765079717805884","XOF":"642.0206666666666667","XPD":"0.0008553866294437","XPF":"119.331871","XPT":"0.001148145","XRP":"2.1399529210357372","XTZ":"1.6","XYO":"360.2305475504322767","YER":"266.8815667140391075","YFI":"0.00019703274246248049775273149162","YFII":"0.00249067765501682607890270323908","ZAR":"20.237953","ZEC":"0.04149377593361","ZEN":"0.14809897673048505351458480510547","ZMK":"5598.95","ZMW":"21.9410628711168739","ZRX":"5.8962264150943396","ZWD":"399.516"}}}'
  recorded_at: Sun, 17 Sep 2023 16:36:28 GMT
recorded_with: VCR 6.2.0
