---
http_interactions:
- request:
    method: get
    uri: https://api.apilayer.com/fixer/convert?amount=50&from=EUR&to=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - iG4NgXWh44twKerQjSQXvOIJVkxYSPgW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '100'
      Ratelimit-Remaining:
      - '99'
      Ratelimit-Reset:
      - '1153044'
      X-Cloud-Trace-Context:
      - c19ae9b21625561950f222a991b8a460
      X-Ratelimit-Limit-Day:
      - '100'
      X-Ratelimit-Limit-Month:
      - '100'
      X-Ratelimit-Remaining-Day:
      - '99'
      X-Ratelimit-Remaining-Month:
      - '99'
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "success": true,
            "query": {
                "from": "EUR",
                "to": "GBP",
                "amount": 50
            },
            "info": {
                "timestamp": 1694965323,
                "rate": 0.861735
            },
            "date": "2023-09-17",
            "result": 43.08675
        }
  recorded_at: Sun, 17 Sep 2023 15:42:36 GMT
recorded_with: VCR 6.2.0
